# Dependências do Node.js
node_modules/

# Arquivos Python compilados
__pycache__/

# Variáveis de ambiente
.env

# Logs
*.log

# Dados do Docker
docker-compose.yml

# Sistemas operacionais
.DS_Store
Thumbs.db
